body {
    background-color: #020617;
    color: #e2e8f0;
    text-align: center;
    font-family: Arial;
}

input {
    padding: 10px;
    width: 200px;
    border-radius: 6px;
    border: none;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

li {
    margin-top: 10px;
    list-style: none;
}